.mana-scroll-wrapper {
  height: 100%;
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--scroll-thumb-color) transparent;
}

/* WebKit Scrollbar */
.mana-scroll-wrapper::-webkit-scrollbar {
  width: 10px;
}

.mana-scroll-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.mana-scroll-wrapper::-webkit-scrollbar-thumb {
  animation: manaPulse 3s infinite;
  background: var(--scroll-thumb-color);
  border-radius: 6px;
  transition: background 0.3s ease;
}

@keyframes manaPulse {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.3);
  }
  100% {
    filter: brightness(1);
  }
}
